@font-face {
  font-family: 'OCR A Std';
  font-style: normal;
  font-weight: normal;
  src: local("OCR A Std"), url("./fonts/OCRAStd.woff") format("woff"); }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans"), url("./fonts/DroidSans.woff") format("woff"); }

@font-face {
  font-family: 'Droid Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans Bold"), url("./fonts/DroidSans-Bold.woff") format("woff"); }

body {
  margin: 0;
  font-family: "Droid Sans";
  font-size: 20px;
  line-height: 24px;
  background-color: #000; }

.App {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 0 #D2D2D2; }
  .navbar__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px; }
  .navbar__image {
    padding-right: 16px;
    display: inline-block; }
    .navbar__image img {
      display: table-cell; }
  .navbar__line {
    box-sizing: border-box;
    height: 28px;
    width: 1px;
    border: .5px solid #979797;
    display: inline-block;
    vertical-align: text-bottom;
    display: inline-block;
    vertical-align: initial; }
  .navbar__text {
    padding-left: 16px;
    display: inline-block;
    vertical-align: initial;
    color: #666666; }
  .navbar__button {
    height: 26px;
    width: 155px; }
    .navbar__button--add {
      width: 21px;
      height: 21px; }
    .navbar__button--text {
      display: inline-block;
      width: 113px;
      height: 18px;
      color: #005B9C;
      padding-left: 10px;
      line-height: 18px;
      font-family: "Droid Sans";
      font-size: 15px;
      font-weight: bold;
      position: relative;
      bottom: 3px; }

.item-list {
  background-color: #F6F6F6;
  padding: 40px 0px; }

.item__card {
  height: 83px;
  width: 802px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
  margin: auto;
  margin-bottom: 11px; }

.item__button {
  height: 33px;
  width: 33px;
  padding: 24px 23px; }

.item__line {
  box-sizing: border-box;
  height: 2px;
  width: 135px;
  border: 1px solid #979797;
  margin: 8px 0; }

.item__group {
  display: flex;
  height: 87%; }
  .item__group--1 {
    width: 312.48px;
    display: block;
    padding-top: 21px; }
  .item__group--2 {
    width: 166px;
    display: block;
    padding: 15px 0px 5px 22px; }
  .item__group--3 {
    width: 213px;
    display: flex;
    text-align: right;
    padding-bottom: 20px; }

.text {
  font-size: 16px;
  line-height: 19px; }
  .text-bold {
    color: #333333;
    font-weight: bold; }
  .text-cuil {
    color: #8E8E8E;
    padding-top: 4px; }
  .text-number {
    color: #848484;
    font-size: 12px;
    line-height: 14px; }
  .text-date {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 3px 5px; }
    .text-date__container {
      height: 17px;
      width: 68px;
      border-radius: 2px;
      background-color: #B6B6B6;
      margin: 4px 2px; }
  .text-terminal {
    padding-top: 27px;
    color: #ACACAC;
    font-size: 18px;
    line-height: 21px; }
  .text-center {
    text-align: center; }

.modal {
  overflow: auto;
  width: 1280px;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: -28px; }
  .modal-container {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23);
    height: 456px;
    width: 425px;
    margin: 86px auto; }
  .modal-header {
    height: 45px;
    width: 100%;
    color: #005B9C; }
    .modal-header__content {
      padding: 14px 11px;
      display: inline-block;
      text-align: center;
      width: 95%; }
  .modal-line {
    box-sizing: border-box;
    height: 1px;
    width: 425.06px;
    border: 0.5px solid #C0C0C0; }
    .modal-line--footer {
      width: 350px;
      margin-top: 70px; }
  .modal-content {
    padding: 37px; }
    .modal-content__label {
      height: 14px;
      width: auto;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px; }
      .modal-content__label--half {
        width: 176px;
        display: block; }
    .modal-content__input {
      height: 41px;
      width: 319px;
      border: 1px solid #CCCCCC;
      border-radius: 2px;
      background-color: #FFFFFF;
      margin: 9px 0 25px 0;
      padding: 0 16px;
      font-size: 18px; }
      .modal-content__input--half {
        width: 135px; }

.d-flex {
  display: flex; }

.d-block {
  display: block;
  margin-right: 8px; }

.button-cancel {
  height: 43px;
  width: 160px;
  border: 1px solid #777777;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 26px;
  margin-right: 28px;
  display: flex; }

.button-accept {
  height: 43px;
  width: 160px;
  border-radius: 2px;
  background-color: #005B9C;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 26px;
  display: flex;
  border-style: none; }

.m-auto {
  margin: auto; }

.home__group {
  max-width: 1280px; }
  .home__group--1 {
    background: url(./images/bg.png);
    padding: 68px 124px;
    height: 393px; }
  .home__group--2 {
    background-color: #ECFBFB;
    height: auto;
    padding: 98px 126px; }

.home__credit-card {
  position: absolute;
  top: 252px;
  left: 160px;
  height: 157px;
  width: 250px;
  background: radial-gradient(#463AA5, #2C45A5);
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 9px; }
  .home__credit-card-visa {
    position: absolute;
    top: 13px;
    left: 154px;
    opacity: 0.83; }
  .home__credit-card-chip {
    height: 24px;
    width: 24px;
    opacity: 0.3;
    position: relative;
    top: 63px;
    left: 26px;
    background: #fff;
    border-radius: 2px; }
    .home__credit-card-chip--line {
      box-sizing: border-box;
      width: 24px;
      border: 0.5px solid #287DEF;
      position: absolute; }
      .home__credit-card-chip--line-1 {
        height: 24px;
        width: 1px;
        top: 0;
        left: 12px; }
      .home__credit-card-chip--line-2 {
        top: 4px;
        left: 0; }
      .home__credit-card-chip--line-3 {
        bottom: 4px;
        left: 0; }
      .home__credit-card-chip--line-4 {
        bottom: 11.5px;
        left: 0; }
      .home__credit-card-chip--line-5 {
        border: 1.5px solid #fff;
        bottom: 15px;
        right: 0;
        width: 50%;
        z-index: 1; }
      .home__credit-card-chip--line-6 {
        border: 1.5px solid #fff;
        bottom: 10px;
        right: 40%;
        width: 15%;
        z-index: 1; }
    .home__credit-card-chip--data {
      color: #D0E6E9; }
      .home__credit-card-chip--data-number {
        height: 16.7px;
        width: 185.15px;
        color: #FFFFFF;
        font-family: "OCR A Std";
        font-size: 13.52px;
        line-height: 17px;
        position: absolute;
        bottom: 38px;
        left: 25px; }
      .home__credit-card-chip--data-name {
        height: 24.31px;
        width: 90px;
        font-family: "OCR A Std";
        font-size: 10.79px;
        letter-spacing: -0.01px;
        line-height: 12px;
        position: absolute;
        bottom: 5px;
        left: 27px; }
      .home__credit-card-chip--data-expiration {
        height: 12.16px;
        width: 38.87px;
        font-family: "OCR A Std";
        font-size: 10.79px;
        letter-spacing: -0.01px;
        line-height: 12px;
        position: absolute;
        bottom: 17px;
        right: 37px; }
    .home__credit-card-chip--circle {
      box-sizing: border-box;
      height: 10px;
      height: 11px;
      width: 11px;
      border: 1.2px solid #287DEF;
      background-color: #fff;
      z-index: 1; }
      .home__credit-card-chip--circle-1 {
        position: relative;
        margin: 0 auto;
        top: 2px;
        border-radius: 50%; }
      .home__credit-card-chip--circle-2 {
        position: relative;
        margin: 0 auto;
        top: 0px;
        border-radius: 50%; }

.home__form {
  height: 447px;
  width: 450px;
  border-radius: 8px;
  background: linear-gradient(138.15deg, #1A56FF 0%, #600FC0 100%);
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.14);
  position: absolute;
  right: 185px;
  top: 252px; }
  .home__form-group {
    padding: 31px 33px 35px; }
  .home__form-title {
    height: 45px;
    width: 398.92px;
    color: #FFFFFF;
    font-size: 20.5px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 1.4px;
    padding-bottom: 17px; }
  .home__form-label {
    height: 13px;
    width: 389.93px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 13px; }
  .home__form-input {
    height: 37px;
    width: 375px;
    border: 1px solid #CACACA;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 1px;
    padding-left: 13px;
    color: #333333;
    font-size: 13.5px;
    line-height: 16px; }
    .home__form-input::placeholder {
      color: #C7C7C7;
      font-size: 14px;
      line-height: 16px; }
    .home__form-input:focus {
      border-radius: 2px;
      outline: none; }
    .home__form-input-name {
      height: 37px;
      width: 442px;
      border: 0px;
      border-radius: 0;
      background-color: transparent;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.7px;
      padding-bottom: 13px;
      padding-right: 58px;
      border-bottom: 1px solid #fff;
      color: #fff; }
      .home__form-input-name::placeholder {
        color: rgba(255, 255, 255, 0.3) !important; }
      .home__form-input-name:focus {
        outline: none;
        caret-color: #fff; }
  .home__form-button {
    height: 74px;
    width: 450px;
    border-radius: 0 0 8px 8px;
    background-color: #F8972E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    border-style: none;
    cursor: -webkit-grab; }

.home__title {
  height: 60px;
  width: 329px;
  color: #142989;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.7px; }

.home__description {
  width: 489px;
  color: #999999;
  font-size: 20px;
  line-height: 30px;
  padding-top: 30px; }

.home__welcome {
  height: 50px;
  width: 126px;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.7px; }

.home__logo {
  width: 175px;
  position: absolute;
  top: 10px;
  right: 121px; }
  .home__logo img {
    opacity: 0.21;
    width: 100%; }
  .home__logo-text {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 11px;
    position: absolute;
    top: 115px;
    right: 36px; }

.disabled {
  cursor: not-allowed;
  opacity: 0.09; }

.arrow {
  position: absolute;
  top: 115px;
  left: 617px;
  width: 46px;
  height: 46px;
  cursor: -webkit-grab; }

.d-none {
  display: none; }
